@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
html, body {
    /* min-height: 100% !important; */
    margin: 0 !important;
    padding: 0 !important;
}
input::placeholder,
textarea::placeholder {
    color: #808080 !important;
}